body {
    background-color: #000;
    font-family: din-2014, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    margin: 0 auto;
    height:100%;
    overflow-x: hidden; /* This Fixes unintended body overflow */
}

#siteWrapper {overflow-x: hidden; }


/* NEW TABLE */
#wrapper {
 height: 420px;
 left: 30%;
 margin: -210px 0 0 -270px;
 position: absolute;
 margin-top: 50px;
 width: 540px;
}
/* End of NEW TABLE  */

p {
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
}


.arrow {
 display: inline-block;
 position: relative;
 text-indent: -9999px;
 width: 200px;
 height: 200px;
 background: url(jameshooperlogo-sprite-nb.svg) no-repeat;
 margin-left: -100px;
}

.arrow span {
 position: absolute;
 top: 0; left: 0; bottom: 0; right: 0;
 background: url(jameshooperlogo-sprite-nb.svg) no-repeat;
 background-position: 100px 0;
 opacity: 0;
 -webkit-transition: opacity 0.5s;
 -moz-transition: opacity 0.5s;
 -o-transition: opacity 0.5s;
}

.arrow:hover span {
 opacity: 1;
}

.space {
 display: block;
 width: 100%;
 height: 180px;
}

hr.topLine {
 border-top: 1px solid white;
 margin-top:100px;
 z-index: 1000;
 position: relative;
 top:100;
}

.jamesIntro {
 margin-top: -80px;
 font-size: 11.5em;
 color: white;
 text-align: left;
}

.jamesPortfolio {
 margin-top: -80px;
 font-size: 11.5em;
 color: white;
 text-align: left;
 margin-left: 16.5%;
}
.jamesBlog {
 color: #fff;
 font-size: 11.5em;
 text-align: left;
 margin-left: 15%;
 margin-top: -80px;
}

.myPortfolio {
    font-size: 11.5em;
    margin-top: -80px;
    color: #fff;
   }

.jamesIntroDesign {
 margin-top: -80px;
 text-align: left;
 font-size: 11.5em;
 color: white;
}

.jamesIntro2 {
 color: #828282;
 margin-top:-115px;
 text-align: left;
 border-radius: 3%;
}

#chartContainer {
 width: 75%;
 margin: 0 auto;
}

.videoWrapper {
 display: block;
 padding-top: 25px;
 height: 500px;
 padding-bottom: 20%;
 margin-left: 3%;
 margin-right: 3%;
 margin-bottom: 285px;
}
.responsive {
    width: 100%;
  height: auto;
}

/* NEW MENU -----------------------  */
.topnav {
 overflow: hidden;
 background-color: #000;
 width: 75%;
 padding-top: 25px;
 padding-right: 2.5%;
}

.header-right {
   float:right;
}

.topnav a {
 float: left;
 display: block;
 color: #f2f2f2;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;
}

.topnav a:hover {
 color: #989898;
}

.topnav a.active {
 color: #989898;
}

.topnav .icon {
 display: none;
}
/* END OF NEW MENU ----------------- */

.logo {
 height: 70px;
}

.subHeadLogo{
 color: #fff; 
 font-size: 75%;
 margin-top: -100px;
}

.mylogo {
 margin-top: 1px;
}

#myNav {
overflow: hidden;
} 

.sticky {
 position: fixed;
 top: 0;
 width: 100%;
}

.sticky + #name {
 padding-top: 10px;
}

hr {
 border: 1px dotted #ccc;
}

.horizontalLine {
 margin-top:10%;
 margin-bottom:10%;
}

p {
 color: #ccc;
}

#stats {
 font-size: 10em;
 color: #fff;
 margin-left: 15%;
 padding-top: 18%;
}

#projects {
 display:block;
 float:right;
 list-style-type: none;
 font-weight: 100;
 color: #ccc;
 width: 300px; 
 height: 110px; 
 overflow: auto; 
 text-align:justify; 
 margin-top:-110px;
 margin-right: 3%;
}

#projects:hover {
 background: linear-gradient(to right,#ff8a00,#da1b60);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
}

.repos {
 margin-left: 13%;
 font-weight: 900;
}
#myRepos {
 display: flex;
 flex-direction: column;
}

.todaysDiscount {
 color: #fff;
 font-size: 9vw;
 font-weight: bold;
 margin: 43px 0 0 15%;
}

.todayOnly {
 display:block;
 width: 100%;
 height: auto;
 font-weight: bold;
 margin-top: -170px;
 margin-left: 15.5%;
 font-size: 3vw;
 color: #ef8d36;
}

.container-commits {
 display: block;
 margin-top:-100px;
}

#commits ul {
 margin-left: 14.25%;
 margin-top:-1.25%;
 margin-bottom:5%;
 font-size: 115%;
 line-height: 26px;
}

#commits ul li a {
 text-decoration: none;
 color: #A8A8A8;
}

#commits a:hover {
 color: #fff;
}

.myName {
 display: block;
 width: 100%;
 /* margin-top: -4.5%; */
 font-size: 12.05vw;
 /* new */
 background: linear-gradient(to right,#ff8a00,#da1b60);
 -webkit-background-clip: text;
 /* -webkit-text-fill-color: transparent; */
 /* -webkit-text-fill-color: #da1b60; */
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
 z-index: 1000;
}



#CTA {
 width: 200px;
 height: 100px;
 float:right;
 margin-right: 18%;
 margin-top: -18%;
 background: transparent;
}

#CTAabout {
 width: 200px;
 height: 100px;
 float:left;
 margin-right: 18%;
 margin-top:-15%;
 margin-left: 10%;
}


#CTA .hireMe {
 background-color: #da3688;
 padding: 15px;
 border-radius: 8px;
 color: #000;
 width: 190px;
 margin-bottom: 8%;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 -webkit-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
 box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
}

#CTAabout .hireMeBtn {
 background-color: #da3688;
 padding: 15px;
 border-radius: 8px;
 color: #000;
 width: 190px;
 margin-bottom: 8%;
 margin-top:205px;
 margin-left: 40%;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 -webkit-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
 box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
}

#CTA .freeQuote {
background-color: #ef8d36;
padding: 15px;
border-radius: 8px;
color: #000;
width: 190px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;
-webkit-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
}

#CTAabout .freeQuoteBtn {
 background-color: #ef8d36;
 padding: 15px;
 border-radius: 8px;
 color: #000;
 width: 190px;
 margin-left: 40%;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 -webkit-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
 -moz-box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
 box-shadow: 10px 10px 18px -2px rgba(0,0,0,0.75);
}

.currentProjects {
 text-shadow: 2px 2px #000;
 margin-left: 15.5%;
 margin-top:-11px;
 font-size: 2em;
 font-weight: bold;
 color: #fff;
}

a.gitlink {
 text-decoration: none;
 color: gray;
}
a.gitlink:hover {
 color: #fff;
}

#description {
 font-size: .85em;
 display: block;
 width: 200px;
 color: #ccc;
 font-weight: 100;
 float: right;
 margin-top: 300px;
 margin-right: 3%;
}

#profile {
 display: block;
 width: 100%;
 height: 690px;
 margin-bottom: -68px;
}

#profile {
 background-image:url('images/self-portrait-3.png');
 width: 100%;
 /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: top;
 background-repeat: no-repeat;
 /* background-size: cover; */
}

.home {
margin-left: 7%;
z-index: -10000;
width: 100%;
height: auto;
}

header { 
 display: flex; 
 flex-direction: row;
 height: 100px;
 background-color: #000;
 position: fixed;
 right: 0;
 left: 0;
 z-index: 9999;
 box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

.contact-header { 
 display: flex; 
 flex-direction: row;
 height: 100px;
 background-color: #000;
 position: fixed;
 right: 0;
 left: 0;
 z-index: 999;
 /* margin-top:-200px;   */
}

.header {
 display: flex; 
 flex-direction: row;
 height: 100px;
 background-color: #000;
 position: fixed;
 right: 0;
 left: 0;
 z-index: 999;
}

#specifics {
clear: both;
}

.logo {
   margin-top: 1%;
   margin-left: 2%;
}

#profession {
   font-size:23px;
   font-weight: 100;
   line-height:50px;
   margin-top: -10px;
   font-family: din-2014, sans-serif;
   font-weight: 400;
   font-style: normal;
 }

#profession p {
  color: #989898;
} 

#profession p {
    color: #989898;
}

#profession .subHeadLogo {
  color: #fff;
  width: 300px;
  margin-left: 2px;
}

/* About Skills and Education  */
.totalSkills {
  display: flex;
  flex-direction: row;
  margin-top:-30px;
  width: 100%;
}

.education {
  float: left;
  border: 1px solid #fff;
  border-radius: 10px;
  width:20%;
  margin-left: 15%;
}

.education h2 {
  margin-left: 13%;
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #fff;
}

.education ul { 
  margin-top: -15px;
 }

.education ul li {
  list-style-type: none;
  line-height: 1.4;
}

.education ul li:nth-child(1), ul li:nth-child(4) {
  color: #989898;
}

.coding {
  float: left;
 width:30%; 
 margin-left: 3%;
}

.coding h2 {
 margin-left: 13%;
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 2rem;
 color: #fff;
}

.coding ul {
 margin-left: 10%;
}

.coding ul li {
 color: #989898; 
 line-height: 1.4;
}

.design {
 width:30%;
 margin-left: -5%;
 float: left;
}

.design h2 {
 margin-left: 13%;
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 2rem;
 color: #fff;
}

.design ul {
 margin-left: 10%;
}

.design ul li {
 color: #989898; 
 line-height: 1.4;
}

.talents {
 display:block;
 width:auto;
 margin-top: 100px;
 margin-left: 15%;
 /* padding-bottom: 15%; */
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
 font-size: 5.5rem;
 /* color: #ef8d36; */
 background: linear-gradient(to right,#ff8a00,#da1b60);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
 z-index: 1000;
}


.whyHireMe {
 /* color: #ef8d36; */
 font-size: 10rem;
 margin-top:5%;
 background: linear-gradient(to right,#ff8a00,#da1b60);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
 z-index: 1000;
}

.yourAnswer {
 display:block;
 width: 500px;
 line-height: 1.75;
 text-align: left;
 background: #000;
 margin: .25rem;
 margin-bottom: 5%;
 margin-left: 15%;
 padding: .25rem;
 font-size: 1.25em;
 width: 70%;
}

.selfQuote {
 display: block;
 width: 45%;
 font-size: 250%;
 font-style: italic;
 text-align: left;
 color: #fff;
 margin-left: 38%;
 margin-bottom: 10%;
 margin-top: -17%;
}

.fixQuote {
    font-family:sans-serif;
    font-size: 14vw;
    content: "\201C";
    margin-left: -60px;
    float: left;
    margin-top: -115px;
}

.testimonialLink { 
 text-decoration: none;
 color: #F5F5F5;
}
.testimonialLink:hover {
 color: #000;
} 

.james {
 border-radius: 50%;
 margin-left: 17%;
 margin-top:-10%;
}


h1,h2,h3,h4,h5,h6 {
   color: #ccc;
   font-family: 'Oswald', sans-serif;
}

h1 {
 font-size: 11.5em;
 margin-bottom: -80px;
 margin-top:-50px;
 margin: 0 auto;
}

#container {
   display: flex;
   flex-direction: row;
   width: 1200px;
   margin:0 auto;
   color: #fff;
}



/* HOMEFOOTER */

footer {
 display: block;
 width:100%;
}
.edge {
 width: 100%;
 margin-top: -5px;
}

.homeFtr {
 background: #ff8a00;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to left, #da1b60, #ff8a00);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to left, #da1b60, #ff8a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 height: auto;
}

.hurry {
 display: block;
 width: 100%;
 font-size: 7.05vw;
 font-weight: bold;
 color: #000;
 text-align: center;
 margin-top:-200px;
}

.callNow {
 font-size: 5vw;
 font-weight: bold;
 color: #fff;
 text-align: center;
 padding-bottom: 15%;
 margin-top: -70px;
 margin-bottom: 2px;
}
.phone { 
    text-decoration: none;
    color: #fff;
}

.bottomFtr {
 display: flex;
 flex-direction: row;
 height: 100px;
 background-color: #fff;
 color: #000;
}

.socialIcons {
 width:60%;
 margin-top:20px;
 margin-left: 43%;
}

.legal{
 width: 90%;
 margin-top: 23px;
 margin-right: 1%;
}

.bottomFtrContact {
 width: 100%;
 height: 100px;
 background-color: #fff;
 color: #000;
 margin: 0 auto;
 margin-top: -2px;
}

.bottomFtr p {
 color: #000;
}

.bottomFtrContact p {
 color: #000;
 float: right;
 margin-top: 2.5%;
 margin-right: 3%;
}

.bottomFtrContact img {
 margin-top: 1.55%;
 margin-right: 1%;
}

.bottomFtrContact a:first-child {
 margin-left: 45%;
}

.social  a img {
margin: 0;
}

#name {
   font-size: 1em;
   display: block;
   background: linear-gradient(to right,#ff8a00,#da1b60);
   background-clip: text;
   -webkit-background-clip: text;
   /* -webkit-text-fill-color: transparent; */
   -webkit-box-decoration-break: clone;
   box-decoration-break: clone;
   z-index: 1000;
   padding-top:70px;
}
#name:hover {
   color: #fff;
}

/* Portfolio */
.portfolio {
 display: flex;
 flex-wrap: wrap;
 margin-left: 12%;
 padding-bottom: 10%;
}

.portfolio a {
 text-decoration: none;
}


.plus {
 font-size: 800%;
 font-weight: bold;
 margin-top: -300px;
 margin-left: 43%;
 color: #fff; 
 opacity: .5; 
}

.designWork {
 display: block;
 width: 400px;
 height: 400px;
 margin: 20px;
 transition: all 0.3s ease;
 border-radius: 8px;
transition: .5s ease;
}

.designWork:hover {
 -webkit-transform: scale(1.05);
 -ms-transform: scale(1.05);
 transform: scale(1.05);
 transition: .5s ease;
}

.moreWork {
  display: block;
  width: 400px;
  color: white;
  font-size: 1.5rem;
  margin-left: 5%;
  margin-top: 25%;
}

.moreWork:hover {
  /* color: #da1b60;  */
  background: linear-gradient(to right,#ff8a00,#da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 1000;
}

.description {
 margin: 0 auto;
 margin-left: 5%;
 margin-top: -2%;
 margin-bottom: 5%;
 font-size: 1.5rem;
}
.description:hover {
  background: linear-gradient(to right,#ff8a00,#da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 1000;
}
.sub-desc {
  margin-left: 5%;
  margin-top: -15px;
  display: flex;
  width: 400px;
  color: gray;
}

/* Contact Footer */
.contactFtr {
 background: #ff8a00;  /* fallback for old browsers */
 background: -webkit-linear-gradient(to left, #da1b60, #ff8a00);  /* Chrome 10-25, Safari 5.1-6 */
 background: linear-gradient(to left, #da1b60, #ff8a00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 height: 100%;
}

.mailIcon {
    width: 20%;
    height: auto;
    margin-left: 40%;
    margin-top: -150px;
    padding-bottom: 5%;

}

/* Responsive Menu */
.overlay {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   right: 0;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0, 0.9);
   overflow-x: hidden;
   transition: 0.3s;
 }
 
 .overlay-content {
   position: relative;
   top: 10%;
   width: 100%;
   text-align: center;
   margin-top: 30px;
 }
 
 .overlay a {
   padding: 8px;
   text-decoration: none;
   font-family: 'Oswald', sans-serif;
   font-size: 75px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 .overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
 }
 
 .overlay .closebtn {
   position: absolute;
   top: -2.75%;
   right: 2%;
   font-size: 60px;
 }
/* Styling for Introduction to James Hooper  */
 .box.flex {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin-top: 80px;
 }
 
 .box {
   padding: .5em;
   color: #f0f0f0;
   background: #000;
 }
 
 .box p {
   width: 500px;
   line-height: 1.75;
   text-align: left;
   background: #000;
   margin: .25rem;
   margin-left: 50px;
   padding: .25rem;
   font-size: 1.25em;
   width: 50%;
 }

 .blog {
   padding: .5em;
   color: #f0f0f0;
   background: #000;
 }


 .blog p {
   line-height: 1.75;
   margin-right:15%;
   font-size: 1.25rem;
 }

 .blog p:nth-child(3) {
   margin-top: 5%;
 }

 /* Articles on Home Page */
.blog.flex {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 15.5%;
   margin-bottom: 8%;
}

.numberOfArticle {
    margin-left: 16%;
    margin-top: 9%;
    font-size: 200%;
}

.blogTitle {
 margin-left: 16%;
 font-size: 220%;
}

.blogTitleSub {
 margin-left: 16%;
 margin-right: 12%;
 margin-top:0;
 font-size: 150%;
 color: gray;
 font-weight: 300;
 font-family: din-2014, sans-serif;
 font-style: italic;
}

.blogAuthor {
 margin-left: 16%;
 margin-top: -23px;
 color: #ff8a00;
}

.blogImg {
 width: 95%;
 height: auto;
 max-width: 900px;
 max-height: 509px;
}

.blogImg2 {
 margin-top: 2%;
 width: 95%;
 height: auto;
 max-width: 900px;
 max-height: 215px;
}


.clearfix {
 overflow: auto;
}

 /* NEW TABLE  */
 /* Variables
================================== */
.container {
 background: linear-gradient(to right,#ff8a00,#da1b60);
 -webkit-background-clip: text;
 -webkit-box-decoration-break: clone;
 box-decoration-break: clone;
 z-index: 1000;
}

/* NEW SKILLS BUTTON */
.btn {
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
 border: none;
 text-align:center;
 cursor: pointer;
 padding: 15px 80px;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: 700;
 outline: none;
 position: relative;
 background: #ec008c; 
 border: solid 1px transparent;
 border-radius:10px;
 -webkit-font-smoothing: antialiased;
}

.social img:hover{
 animation: rotation .5s linear;
}

@keyframes rotation {
 from {
   transform: rotate(0deg);
 }
 to {
   transform: rotate(359deg);
 }
}

.skills {
 position: relative;
 width: 350px;
 margin: auto;
 overflow: hidden;
 color:#000;
 height: 90%;
}

.skills a{
 text-decoration: none;
 color: #000;
}

/* Tables
================================== */
.Rtable {
 display: flex;
 flex-wrap: wrap;
 margin: 0 0 3em 0;
 padding: 0;
}
.Rtable-cell {
 box-sizing: border-box;
 flex-grow: 1;
 width: 100%;  
 padding: 0.8em 1.2em;
 overflow: hidden; 
 list-style: none;
 border: solid @bw white;
 background: fade(slategrey,20%);
 > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }


/* End of NEW TABLE */

/* Contact form */
#regForm {
    margin: 200px auto 70px;
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
 padding: 40px;
 width: 70%;
 /* height: 300px; */
 min-width: 300px;
 overflow:hidden;
}

h1 {
 text-align: center;  
}

input {
 padding: 10px;
 width: 95%;
 font-size: 17px;
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
 border: 1px solid #aaaaaa;
}

textarea {
 width: 90%;
 height: 150px;
 margin-bottom: 2%;
 margin-top: 2%;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 17px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
 background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
 display: none;
 font-size: 180%;
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
}

.submitTab {
 margin-bottom: 5%;
}

button {
 background-color: #4CAF50;
 color: #ffffff;
 border: none;
 padding: 10px 20px;
 font-size: 17px;
 font-family: din-2014, sans-serif;
 font-weight: 400;
 font-style: normal;
 cursor: pointer;
}

button:hover {
 opacity: 0.8;
}

#prevBtn {
 background-color: #bbbbbb;
 margin-right: 1%;
 color: #000;
}

/* Make circles that indicate the steps of the form: */
.step {
 height: 5px;
 width: 80px;
 margin: 0 2px 50px;
 background-color: #bbbbbb;
 border: none;  
 display: inline-block;
}

.step.active {
 opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
 background-color: #ea1489;
}
/* End of Contact form */

@media screen and (max-width: 800px) {

   .callNow {
    font-size: 1.25em;
    margin-top: -10px;
   }
   .phone { 
       text-decoration: none;
       color: #fff;
   }

   .hurry {
     padding-top: 20px;
   }

  .todaysDiscount {
     text-shadow: 2px 2px #000;
     font-size: 15vw;
     padding-top: 90px;
 }

 #CTA {
   margin: 0 auto;
   float:none;
   margin-top: 12%;
 }

   .bottomFtr {
     display: flex;
     flex-direction: column;
     margin-top: 1.55%;
     margin: 0 auto;
     height: auto;
   }

   .socialIcons {
     width:100%;
     margin-top:20px;
     margin-left:32%;
   }
 
   .legal{
     margin-left: 4%;
     margin-top:-10px;
     text-align: center;
   }

   .edgeContact {
     width: 100%;
     height: 530px;
     margin-top: -125px;
   }

   .contactFtr {
     height: 500px;
   }
   .mailIcon {
    width: 35%;   
    margin-left:33%;
    margin-top:-50px;
}

   .todayOnly {
     margin-top: -120px;
   }

   .jamesIntro {
     margin-top: -37px;
     font-size: 4.5em;
     margin-left: 14%;
   }

   .videoWrapper {
 display: block;
 padding-top: 25px;
 height: 150px;
 padding-bottom: 20%;
 margin-left: 3%;
 margin-bottom: 90px;
}
.responsive {
    width: 100%;
  height: auto;
}

   .jamesPortfolio {
     margin-top: -33px;
     font-size: 4em;
     margin-left: 11%;
   }

   .jamesBlog {
    margin-top: -33px;
    font-size: 4em;
    margin-left: 15%;
   }

   .jamesIntroDesign {
     margin-top: -34px;
     margin-left: 11%;
     font-size: 4em;
     color: white;
   }
   
   .jamesIntro2 {
     margin-top: -55px;
     font-size: 4em;
     margin-left: 11%;
   }


 .totalSkills {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
 }

 .education {
   width: 68%;
   padding-bottom: 5%;
   background-color: black;
}

.education ul {
 margin-left: 5.5%;
}

.coding {
 width: 68%;
 padding-top:10%;
 margin-left: 15%;
}

.design {
 width: 68%;
 margin-left: 15%;
}

.myPortfolio {
    font-size: 5.75em;
    margin-top: -44px;
    margin-left: 4.5%;
    color: #fff;
}

.whyHireMe {
 margin-left:-30px;
 color: #ef8d36;
 font-size: 4rem;
}

.talents {
 display: none;
}
 
.james {
 border-radius: 50%;
 margin-left: 32.5%;
 margin-bottom: 5%;
}

.selfQuote {
 font-size: 150%;
 font-style: italic;
 margin-left: 13.5%;
 margin-bottom: 15%;
 margin-top: 5%;
 width: 80%;
}

.fixQuote {
    font-size: 18vw;
    content: "\201C";
    margin-left: -20px;
    float: left;
    margin-top: -65px;
}

#CTAabout .hireMeBtn {
 margin-left: 18%;
}
#CTAabout .freeQuoteBtn {
 margin-left: 18%;
}

#commits ul {
 margin-left: 14.25%;
 margin-top: -1.25%;
 margin-bottom: 5%;
 font-size: 115%;
 line-height: 26px;
 background-color: #000;
 opacity: .7;
 padding:20px;
 border-radius: 10px;
 padding-left: 8%;
 margin-right: 15%;
 color: #fff;
}

.box.flex {
 display: flex;
 flex-direction: column;
}

.box p {
 width: 70%;
 margin-bottom: 8%;
 margin-top: 2%;
 margin-left: 16%;
}

.blogTitle {
 width:90%;
}

.edge {
 width: 103%;
 /* margin-top: -50px; */
}

.edgeHome {
    width: 103%; 
    margin-top: -5px;
}

.edgeContact {
    width: 100%;
    margin-top: -160px;
}

.bottomFtrContact img {
 margin-top: 3.55%;
 margin-right: 1%;
}

button {
 width: 100%;
 margin: 5px 0;
}

textarea {
 width: 99%;
}
}

/* Navigation */
@media only screen and (max-width: 800px)
{
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    padding-right: 0;
    margin-right: -30px;
    margin-left: -10px;
  }
 }
 
 @media only screen and (max-width: 800px)
  {
  .topnav.responsive {
    position: absolute;
    height:790px;
    width: 100%;
    background-color: #000;
    opacity: .95;
    font-size: 200%;
  }
 
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 57%;
    padding-right:25.5%;
    margin-top: 6.5%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 200%;
    font-weight: bold;
    margin-left: 20%;
  }
  .header-right {
    margin-left: 32.5%;
    margin-right: 30%;
 }

 .space {
    height: 50px;
}

 }

/* Smartphones ----------- */
 @media only screen and (min-width : 320px ) and (max-width : 480px) {
 /* Styles */
 .myName {
    font-size: 5rem;
    margin-top: 160px;
    z-index: 9999;
}

 .space {
    height: 50px;
}

 .talents {
   margin-top: -150px;
   font-size: 3.25rem;
 }
 .whyHireMe {
    margin-left: -5px;
    font-size: 4rem;
    padding-bottom: 20px;
}

.contact-header { 
    display: flex; 
    flex-direction: row;
    height: 100px;
    background-color: #000;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999; 
    margin-top:0px;
   }

.totalSkills {
 flex-direction: column;
 font-size: 1.25em;
}

.education {
 float: left;
 border: 1px solid #fff;
 border-radius: 10px;
 width: 70%;
 margin-left: 15%;
}

.education ul {
 margin-top: -15px;
 margin-left: -2%;
 margin-bottom: 50px;
}

#CTAabout .hireMeBtn {
 margin-top: 75px;
 margin-left: 30%;
}

#CTAabout .freeQuoteBtn {
 margin-left: 30%;
}

#regForm {
    margin: 100px auto 200px;
}

.thankyou {
    display: flex;
    width: 75%;
    background-color: #000;

}
.msg {
    color: #fff;
    font-size:200%;
}

.james {
 border-radius: 50%;
 margin-left: 23%;
 margin-bottom: 5%;
}

.selfQuote {
    margin-left: 14%;
    width: 75%;
}


.fixQuote {
    font-size: 18vw;
    content: "\201C";
    margin-left: -20px;
    float: left;
    margin-top: -35px;
}

.coding {
 float: left;
 width: 70%;
 margin-left: 15%;
}

.design {
 width: 70%;
 margin-left: 15%;
 float: left;
}

 .jamesPortfolio {
   font-size: 3em;
   margin-top: -28px;
   margin-left: 12%;
}

.jamesBlog {
    font-size: 4em;
    margin-top: -33px;
    padding-left: 1px;
}

.myPortfolio {
    font-size: 4em;
    margin-top: -33px;
    margin-left: 2%;
    color: #fff;
}

.designWork {
 display: block;
 width: 300px;
 height: auto;
 margin-left: -5px;
}


.description {
    margin: 0 auto;
    /* margin-left: 5%; */
    margin-top: -2%;
    margin-bottom: 5%;
    font-size: 1.5rem;
   }
   .description:hover {
     background: linear-gradient(to right,#ff8a00,#da1b60);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       -webkit-box-decoration-break: clone;
       box-decoration-break: clone;
       z-index: 1000;
   }
   .sub-desc {
     margin-left: 0;
     margin-top: -15px;
     display: flex;
     width: 90%;
     color: gray;
   }
   


 .todaysDiscount { 
   margin: 183px 0 0 15%;
 }

 #commits {
   background-color: #000 0.3;
 }

 .box.flex {
   flex-direction: column;
   font-size: 1rem;
 }
 .box p {
   margin-left: 15%;
   width: 70%;
 }

 .blogTitle { 
   width: 80%;
 }

 .blogImg, .blogImg2 {
   width: 85%;
 }

 #profession p {
    color: #989898;
    display: none;
}

.step {
    width: 45px;
}

#name {
    font-size: 1em;
    display: block;
 }

 }

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
 /* Styles */

 /* Portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7%;
    padding-bottom: 10%;
   }
   
   .portfolio a {
    text-decoration: none;
   }

   .contact-header { 
    display: flex; 
    flex-direction: row;
    height: 100px;
    background-color: #000;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 999; 
    margin-top:0px;
   }

   #profession p {
    color: #989898;
}

 .edgeContact {
   margin-top:-10px;
 }

 .blogImg { 
   width: 85%;
 }
 .blogImg2 {
   width: 85%;
 }

 #blogArticle {
   font-size:.85em;
 }

 .blog p {
   font-size: 1em;
 }

 .todaysDiscount { 
   margin: 213px 0 0 15%;
 }

.myPortfolio {
 font-size: 8em;
 margin-top: -58px;
 margin-left: -1%;
 color: #fff;
}

.jamesPortfolio {
    margin-left: 12%;
    margin-top: -57px;
    font-size: 8em;
}
.jamesBlog {
    /* margin-left: -450px; */
    margin-top: -57px;
    font-size: 8em;
}
.videoWrapper { 
 padding-bottom: 0;
}
.responsive {
width: 80%;
  height: auto;
  margin-left: 9.25%;
}

.talents {
 font-size: 4rem;
 margin-top: 50px;
 background-color: #000;
 padding-bottom: 100px;
}

.whyHireMe {
 /* margin-left: -7%; */
 font-size: 7rem;
 margin-top: 5%;
}

#CTAabout .hireMeBtn { 
 margin-top: 175px;
 margin-left: 30%;
}
#CTAabout .freeQuoteBtn {
 margin-left: 30%;
}

.selfQuote { 
 width: 50%;
 margin-left: 43%;
 font-size: 225%;
}

.fixQuote {
    font-size: 14vw;
    content: "\201C";
    margin-left: -60px;
    float: left;
    margin-top: -85px;
}

.myQuote {
    width: 50%;
    margin-left: 43%;
    font-size: 225%;
    padding-left: 5%;
    border-left: 5px solid #fff;
}

.mailIcon {
    margin-left:40%;
    margin-top:-125px;
    padding-bottom:5%;
}
 }

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
 /* Styles */
 .talents {
    /* margin-top: 200px; */
    margin-left: 20%;
    padding-bottom:150px;
}

.videoWrapper {
    display: block;
    padding-top: 25px;
    height: 150px;
    padding-bottom: 20%;
    margin-left: 3%;
    margin-bottom: 390px;
   }
   .responsive {
    width: 70%;
    height: auto;
    margin-left: 15%;
}

 }
/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
   /* Styles */
   .myName {
    display: block;
    width: 100%;
    margin-top: 2%;
    font-size: 12.05vw;
}
.blog p {
    margin-right: 35%;
}
.jamesPortfolio {
    margin-left: 30.5%;
}
.jamesBlog {
    margin-top: -80px;
}

.talents {
    margin-left: 30%;
    font-size: 6.5rem;
}

#CTAabout .hireMeBtn {
    margin-left: 55%;
}
#CTAabout .freeQuoteBtn {
    margin-left: 55%;
}
.selfQuote {
    margin-top: -14%;
}

.videoWrapper {
    display: block;
    padding-top: 25px;
    height: 150px;
    padding-bottom: 20%;
    margin-left: 3%;
    margin-bottom: 390px;
   }
   .responsive {
    width: 50%;
    height: auto;
    margin-left: 25%;
}

 }



 /* Safari Bug Fix */
 /* This allows the title WEB DESIGNER to display white versus transparent
 while allowing other browsers to show the gradient title */
 @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) 
{
    /*
      Define here the CSS styles applied only to Safari browsers
      (any version and any device)
     */
     .myName {
        display: block;
        width: 100%;
        font-size: 11.05vw;
        background: linear-gradient(to right,#ff8a00,#da1b60);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;
        z-index: 1000;
       }
}