body {
     background-color: #000;
     font-family: Arial, Helvetica, sans-serif;
     color: #fff;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center; 
     margin: 0 auto;
}

.mylogo {
  margin-top: 1px;
}

#myNav {
overflow: hidden;
} 

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + #name {
  padding-top: 10px;
}

hr {
  border: 1px dotted #ccc;
}

p {
  color: #ccc;
}
#stats {
  font-size: 8em;
  color: #fff;
  margin-left: 2.5%;
  margin-top:3%;
}

#projects {
  display:block;
  float:right;
  width: 300px;
  margin-top:350px;
  margin-right: 3%;
}
.repos {
  margin-left: 13%;
  font-weight: 900;
}


#projects ul li {
  list-style-type: none;
  font-weight: 100;
  color: #ccc;
}

a.gitlink {
  text-decoration: none;
  color: gray;
}
a.gitlink:hover {
  color: #fff;
}

#description {
  font-size: .85em;
  display: block;
  width: 200px;
  color: #ccc;
  font-weight: 100;
  float: right;
  margin-top: 300px;
  margin-right: 3%;
}

section#profile {
  display: block;
  width: 100%;
  height: 800px;
  margin-bottom: -100px;
}

#profile {
  background-image:url('JamesHooper.png');

  background-repeat:no-repeat;
  /* background-size:1450px 900px; */
  background-size: cover;
  background-position:center;
  width: 100%;
  /* height: auto; */
  height: 800px;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home {
margin-left: 7%;
z-index: -10000;
width: 100%;
height: auto;
}


header { display: flex; flex-direction: row;}

.logo {
    margin-top: 1%;
    margin-left: 2%;
}

#profession{
    font-size:19px;
    font-weight: 100;
    line-height:50px;
    color:#E0E0E0;
    margin-top: 1.4%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
  }
 #profession:hover {
  background: linear-gradient(to right,#ff8a00,#da1b60);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  z-index: 1000;

 } 

h1,h2,h3,h4,h5,h6 {
    width: 1200px;
    color: #ccc;
    font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 11.5vw;
}



#container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin:0 auto;
    color: #fff;
}
#container:hover {
    
}

#name {
    font-size: 8rem;
    display: block;
    margin-left: 16%;

    background: linear-gradient(to right,#ff8a00,#da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 1000;
}
#name:hover {
    color: #fff;
}

/* Responsive Menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: -2.75%;
    right: 2%;
    font-size: 60px;
  }
/* Styling for introduction to James Hooper  */
  .box.flex {
    display: flex;
    justify-content: center;
    margin-top: -50px;
  }
  
  .box {
    padding: .5rem;
    height: 300px;
    color: #f0f0f0;
    background: #000;
  }
  
  .box p {
    width: 500px;
    line-height: 1.75;
    text-align: left;
    background: #000;
    margin: .25rem;
    margin-left: 50px;
    padding: .25rem;
  }

  /* NEW TABLE  */
  /* Variables
================================== */
.container {
  margin: 10%;

  background: linear-gradient(to right,#ff8a00,#da1b60);
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  z-index: 1000;
  
}
/* NEW SKILLS BUTTON */
.btn {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  text-align:center;
  cursor: pointer;
  padding: 25px 80px;
  margin: 25px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  background: #ec008c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: solid 1px transparent;
  border-radius:10px;
  -webkit-font-smoothing: antialiased;
}

.skills {
  position: relative;
  width: 350px;
  margin: auto;
  overflow: hidden;
  color:#000;
  height: 90%;
}

.skills a{
  text-decoration: none;
  color: #000;
}



/* Tables
================================== */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid @bw white;
  background: fade(slategrey,20%);
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }


/* End of NEW TABLE */

/* Contact form */
#regForm {
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}

input {
  padding: 10px;
  width: 95%;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #aaaaaa;
}

textarea {
  width: 90%;
  height: 200px;
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}

/* End of Contact form */
  
  @media screen and (max-height: 450px) {
    .box {
      display: flex;
      flex-direction: column;
    }

    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }