body {
     background-color: #000;
     color: #fff;
     background-image: url('JamesHooper.png');
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-position: center; 
     margin: 0 auto;
}

header { display: flex; flex-direction: row;}

.logo {
    margin-top: 1%;
    margin-left: 2%;
}

#profession{
    font-size:17px;
    font-weight: 100;
    line-height:50px;
    color:#fff;
    margin-top: .6%;
    margin-left: 1%;
    font-family: 'Roboto', sans-serif;
  }

h1,h2,h3,h4,h5,h6 {
    width: 1200px;
    color: #ccc;
    font-family: 'Oswald', sans-serif;
}

#mygrid {
    margin-top: 6%;
}

#container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin:0 auto;
    color: #fff;
}
#container:hover {
    
}

#a {margin: 2% 5% 5%; opacity: .8;}
#b {margin: 2% 5% 5%; opacity: .6;}
#c {margin: 2% 5% 5%; opacity: .4;}
#d {margin: 2% 5% 5%; opacity: .2;}
#e {margin: 2% 5% 5%; opacity: .1;}
#f {margin: 2% 5% 5%; opacity: .1;}
#g {margin: 2% 5% 5%; opacity: .2;}
#h {margin: 2% 5% 5%; opacity: .4;}
#i {margin: 2% 5% 5%; opacity: .6;}
#j {margin: 2% 5% 5%; opacity: .8;}

#container2 {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin:0 auto;
}
#k {margin: 2% 5% 5%; opacity: .8;}
#l {margin: 2% 5% 5%; opacity: .6;}
#m {margin: 2% 5% 5%; opacity: .4;}
#n {margin: 2% 5% 5%; opacity: .2;}
#o {margin: 2% 5% 5%; opacity: .1;}
#p {margin: 2% 5% 5%; opacity: .1;}
#q {margin: 2% 5% 5%; opacity: .2;}
#r {margin: 2% 5% 5%; opacity: .4;}
#s {margin: 2% 5% 5%; opacity: .6;}
#t {margin: 2% 5% 5%; opacity: .8;}

#container3 {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin:0 auto;
}
#u {margin: 2% 5% 5%; opacity: .8;}
#v {margin: 2% 5% 5%; opacity: .6;}
#w {margin: 2% 5% 5%; opacity: .4;}
#x {margin: 2% 5% 5%; opacity: .2;}
#y {margin: 2% 5% 5%; opacity: .1;}
#z {margin: 2% 5% 5%; opacity: .1;}
#a1 {margin: 2% 5% 5%; opacity:.2;}
#b1 {margin: 2% 5% 5%; opacity: .4;}
#c1 {margin: 2% 5% 5%; opacity: .6;}
#d1 {margin: 2% 5% 5%; opacity: .8;}

#container4 {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin:0 auto;
}
#e1 {margin: 2% 5% 5%; opacity: .8;}
#f1 {margin: 2% 5% 5%; opacity: .6;}
#g1 {margin: 2% 5% 5%; opacity: .4;}
#h1 {margin: 2% 5% 5%; opacity: .2;}
#i1 {margin: 2% 5% 5%; opacity: .1;}
#j1 {margin: 2% 5% 5%; opacity: .1;}
#k1 {margin: 2% 5% 5%; opacity: .2;}
#l1 {margin: 2% 5% 5%; opacity: .4;}
#m1 {margin: 2% 5% 5%; opacity: .6;}
#n1 {margin: 2% 5% 5%; opacity: .8;}

#container5 {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin:0 auto;
}
#o1 {margin: 2% 5% 5%; opacity: .8;}
#p1 {margin: 2% 5% 5%; opacity: .6;}
#q1 {margin: 2% 5% 5%; opacity: .4;}
#r1 {margin: 2% 5% 5%; opacity: .2;}
#s1 {margin: 2% 5% 5%; opacity:.1;}
#t1 {margin: 2% 5% 5%; opacity:.1;}
#u1 {margin: 2% 5% 5%; opacity: .2;}
#v1 {margin: 2% 5% 5%; opacity: .4;}
#w1 {margin: 2% 5% 5%; opacity: .6;}
#x1 {margin: 2% 5% 5%; opacity: .8;}


#name {
    font-size: 800%;
    display: block;
    margin-top: -18%;
    margin-left: 15%;
}

/* Responsive Menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.3s;
  }
  
  .overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: -2.75%;
    right: 2%;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }